<ul class="nav">
  <li class="nav-item">
      <a routerLink = "/dashboard" class="nav-link">Dashboard</a>
  </li>
  <li class="nav-item">
    <a routerLink = '/users' class="nav-link">Users</a>
  </li>
</ul>
<router-outlet></router-outlet>
<app-message></app-message>
