
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="w-50 mx-auto p-3">

    <div class="input-group mb-3">
        <span class="input-group-text">First Name</span>
        <input type="text" class="form-control" formControlName="first_name" required  [class.is-valid]="userForm.value.first_name" >
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Last Name</span>
        <input type="text" class="form-control" formControlName="last_name" [class.is-valid]="userForm.value.last_name" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input type="email" class="form-control" formControlName="email" [class.is-valid]="userForm.value.email" required>
    </div>

    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </div>

</form>