form {
  border: 2px solid rgb(41, 21, 223);
  box-shadow: 4px 4px rgb(41, 21, 223);
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #f50707; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #f50707;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }