<div class="input-group mb-3 w-50 mx-auto">
    <input type="text" placeholder="Filter by first name" #filter class="form-control">        <button class="btn btn-outline-secondary" (input)="filterResults(filter.value)">Search</button>
</div>
<hr>
    
<table class="table table-success table-striped">
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of filteredUserList">
            <td class=""><span class="badge bg-secondary py-2"></span>{{user._id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
                <ul class="nav">
                    <li class="nav-items">
                        <a routerLink="/user" class="nav-link">View</a>
                    </li>
                    <li class="nav-items">
                        <a routerLink="/update-user/{{user._id}}" class="nav-link">Update</a>
                    </li>
                    <li class="nav-items">
                        <a routerLink="/delete-user/{{user._id}}" class="nav-link">Delete</a>
                    </li>

                </ul>
            </td>
        </tr>
    </tbody>
</table>