<div class="w-50 mx-auto p-3 border border-danger border-2 rounded text-danger bg-danger-subtle">
    <h3>Your are about to delete a user.</h3>
    <h4>Id:{{userId}}</h4>

    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            <button class="btn btn-warning" (click)="back()">Cancel</button>
        </div>
        <div class="p-2">
            <a routerLink="/delete-user/{{userId}}" class="btn btn-danger" (click)="delete()">Delete</a>
        </div>
    </div>

</div>